*{
    color: whitesmoke;
}

body{
    overflow-y: auto;
    min-height: 100vh;
}

.navbar-nav{
    align-items: center;
    margin: 4px 0;
}


a{
    text-decoration: none;
    color: inherit;
}

#userInfo{
    justify-content: end;
    margin-right: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(209, 210, 211);
}
.name,.role{
    width: fit-content;
    margin: 0 2px;
    font-weight: 700;
}

#btn-func {
    margin: 3px;
}

#billsStatus, option{
    color: black !important;
}


.caption {
    margin-left: 10px;
}

#allUsers,
#payed,
#not_payed {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
    color: whitesmoke;
}

.hoverable tr:hover, .hoverable tr:hover td, .hoverable tr:hover th {
    color: whitesmoke !important;
    background-color: #000;
}

.pagination-wrapper{
    max-width: 100%;
    margin: 6px;
    padding: 6px;
}
ul.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.pagination li {
    margin: 0 5px;
    padding: 2px 6px;
}

ul.pagination li a{
    color: #000;
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul.pagination li.active {
    background-color: #007bff;
    color: #fff;
}
#table-data,
#table-head {
    position: sticky;
}
#myBtn {
    display: none;
    position: fixed;
    margin-bottom: 2px;
    top: 200px;
    right: 5px;
    z-index: 99;
    font-size: 36px;
    border: 1px solid rgb(71, 222, 249);
    outline: none;
    background-color: rgba(10, 13, 45, 0.986);
    color: rgb(71, 222, 249);
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#bottom {
    display: flex;
    position: fixed;
    top: 265px;
    right: 5px;
    z-index: 99;
    font-size: 36px;
    border: 1px solid rgb(71, 222, 249);
    outline: none;
    background-color: rgba(10, 13, 45, 0.986);
    color: rgb(71, 222, 249);
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn:hover,
#bottom:hover {
    background-color: rgb(68, 202, 119);
    color: black;
}
@media (max-width: 3000px) {
    #btn-func {
        margin: 3px;
    }

    .caption {
        margin-left: 10px;
    }

    #allUsers,
    #payed,
    #not_payed {
        display: inline-flex;
    }

    #table-data,
    #table-head {
        position: sticky;
    }

    #myBtn {
        display: none;
        position: fixed;
        margin-bottom: 2px;
        top: 100px;
        right: 5px;
        z-index: 99;
        font-size: 28px;
        height: 42px;
        align-items: center;
        border: 1px solid rgb(71, 222, 249);
        outline: none;
        background-color: rgba(10, 13, 45, 0.986);
        color: rgb(71, 222, 249);
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 4px;
    }

    #bottom {
        display: flex;
        position: fixed;
        top: 145px;
        right: 5px;
        z-index: 99;
        font-size: 28px;
        height: 42px;
        align-items: center;
        border: 1px solid rgb(71, 222, 249);
        outline: none;
        background-color: rgba(10, 13, 45, 0.986);
        color: rgb(71, 222, 249);
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 4px;
    }

    #myBtn:hover,
    #bottom:hover {
        background-color: rgb(68, 202, 119);
        color: black;
    }
}

@media (max-width: 1024px) {
    #btn-func {
        margin: 3px;
    }
   
    .caption {
        margin-left: 10px;
    }

    #table-data,
    #table-head {
        position: sticky;

    }
}

@media (max-width: 992px){
    .navbar-nav{
        align-items: center;
    }
    #notificationIcon:hover~#notifications, #notifications:hover{
        text-wrap: wrap;
    }
}


@media (max-width:767px){
    .navbar-nav{
        align-items: start;
        margin: 5px 0;
    }
    .navbar-nav li:nth-last-child(3){
        padding: 3px;
    }

    .navbar-nav li:last-child{
        margin-left: auto;
    }
    .container-fluid{
        top: 5px;
    }
}