*{
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: 50px;
}
#navbar{
    position: fixed;
    top: 0;
    height: 62px;
    width: 100%;
    padding: 0;
}

#userInfo{
    position: fixed;
    justify-content: end;
    top: 62px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background-color: rgba(209, 210, 211);
}
.name,.role{
    width: fit-content;
    margin: 0 2px;
    font-weight: 700;
}

.navbar-nav{
    align-items: center;
}
#iconLi{
    max-height: 50px;
    width: 50px;
    margin: 1px;
}
#notificationIcon{
    display: inline-flex;
    position: relative;
    padding: 0;
    align-items: center;
    top: 4px;
}
#notificationIcon:hover{
    cursor: pointer;
}
#notificationIcon >svg{
    margin-top: 5px;
}
.numLength{
    position: relative;
    top: -10px;
    right: 8px;
    background-color: red;
    width: 14px;
    border-radius: 50%;
    text-align: center;
}
.num{
    margin: 0;
    padding: 1px;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: white;
}

#notifications{
    visibility:hidden;
    position: absolute;
    text-wrap: nowrap;
    width: 300px;
    margin-left: -260px;
    margin-top: 0px;
    background-color: inherit;
    color: white;
    padding: 0;
}

#notifications li{
    margin: 0;
    width: 100%;
    padding: 4px;
}
#notifications a{
    display: inline-flex;
    text-decoration: none;
    color:black;
    width: 100%;
}

#notificationIcon:hover~#notifications, #notifications:hover{
    cursor: pointer;
    visibility: visible;
    position: absolute;
    width: fit-content;
    text-wrap: nowrap;
    width: 300px;
    margin-left: -260px;
    margin-top: -5px;
    list-style: none;
    background-color: white;
    text-align: start;
    border: 1px solid black;
}
#notifications li:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: inset 0px 10px 10px 5px rgb(209, 208, 208);
}


@media (max-width: 992px){
    
    
}

@media (max-width: 767px){
    #userInfo{
        top: 59px;
    }
    .navbar-nav{
        align-items: start;
    }
    #notificationIcon:hover~#notifications, #notifications:hover{
        text-wrap: wrap;
    }

}