* {
    box-sizing: border-box;
}

html {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    /*overflow: hidden;*/
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

#main {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: visible;
}
.topSection h2{
    text-align: center;
    padding: 4px;
    margin: 0;
}

.topSection hr{
    border: 2px solid black;
}

section{
    max-width: 100%;
}

.izdal{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    position: relative;
    left: 0;
    margin-right: auto;
}

.izdal p:first-child{
    margin: 2px 0;

}

.izdal input{
    border: none;
}


#numbersSection{
    margin: 40px 0 10px 0;
    padding: 0;
    width: 100%;
}
.numbers{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: start;
}

.mb{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.mb .form-control{
    padding: 0;
    width: 30px;
    border: 1px solid white;
    margin-left: 4px;
    text-align: start;
}
.form-control:focus{
    box-shadow: none;
}

input[name="numPerYear"]{
    margin-left: 30px;
}
input[name="numPerMonth"]{
    margin-left: 16px;
}

.numbers span{
    border: 1px solid white;
    margin-left:2px ;
}

.dates{
    display: flex;
    padding: 0;
    align-items: center;
}
.dates ul{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    list-style: none;
    margin-left: auto;
    margin-right: 0;
}

input[name="soldDate"]{
    margin-left: 7px;
}

ul input{
    border: 1px solid white;
}

.btnSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.row{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
#btns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#btns .btn{
    display: inline;
    width: auto !important;
    margin: 2px;
    padding: 4px;
}


.tableSection{
    overflow-x: auto;
}

.table{
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 100%;
}

.table th{
    text-align: center;
}

.table>tbody{
    vertical-align: middle;
    text-align: center;
}

.table>td{
    text-align: center;
    vertical-align: middle;
}

#homeTable th{
    color: black;
    width: auto;
}
/*
.table th:not(:first-child){
    width: 120px;
}
*/

#productsTable th:first-child{
    min-width: 100px;
}

#productsTable td{
    padding: 1px;
}

#productsTable input:not(#freeProduct){
    border: none !important;
    padding: 2px 0;
}
#kolicina, #cena{
    max-width: 100px;
}

#imgPayed, #imgNotPayed{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
#payment{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2px 0;
    border: none;
}

#rowDelete{
    padding: 2px 4px !important;
}
.checkBoxes{
    text-align: center;
}
#freeProduct{
    border: 1px solid black;
}
.buyer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.buyer ul{
    list-style: none;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    margin-left: auto;
    padding: 0;
}

.buyer ul li:first-child{
    margin: 6px 0;
}
.printBtn{
    width: auto !important;
    margin: 6px;
    padding: 6px 12px;
}
/*


@media (max-width: 3000px) {
    
    #izdal {
        display: inline-flex;
        flex-direction: column;
        padding: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(150px, 340px);
        -webkit-transform: translate(150px, 340px);
        -moz-transform: translate(150px, 340px);
        -ms-transform: translate(150px, 340px);
        -o-transform: translate(150px, 340px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 1500px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 1024px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 98px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 550px) {
    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 330px);
        -webkit-transform: translate(50px, 330px);
        -moz-transform: translate(50px, 330px);
        -ms-transform: translate(50px, 330px);
        -o-transform: translate(50px, 330px);
    }

    #dates {
        padding: 0px;
        margin-left: -50px;
    }

    #dates-left {
        padding: 0px;
        margin-left: 50px;
    }

    #info {
        margin: 0;
        padding: 0;
    }

    #info-ul {
        padding: 0px;
    }

    #info-ul li {
        margin-left: 25px;
    }


}

@media (max-width: 450px) {
    .containerr {
        overflow-x: auto;
    }

    #izdal {
        margin-top: 0px;
    }

    #hiderow {
        display: inline-flex;
        flex-direction: row;
        transform: translate(50px, 440px);
        -webkit-transform: translate(50px, 440px);
        -moz-transform: translate(50px, 440px);
        -ms-transform: translate(50px, 440px);
        -o-transform: translate(50px, 440px);
    }

    #dates {
        display: inline-flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

    }

    #info {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

    }

    #info-ul {
        margin: 0px;
    }

    #info-ul li {
        margin-top: 2px;
        margin-left: 7px;
    }

}

*/

@page{
    size: auto;
}

@media print {
    * {
        margin: 0;
        padding: 0;
        color: black;
        overflow: visible;
        box-shadow: none !important;
        background: transparent !important;
    }
    html, body {
        height: auto !important;
        overflow: visible !important;
    }
    #main {
        position: static !important;
        top: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        margin-bottom: 0;
    }
    #topSection{
        position: fixed !important;
        top: 0;
    }
    #izdal {
        margin-top: 4px;
    }

    input {
        border: 0;
    }

    #addrow,
    #zaključi,
    #placaj,
    #hideOnPrint,
    #hiderow,.alert,#navbar,#userInfo,.name,.role, #rowDelete, #successAlert, #errorAlert, .btnSection, .printBtn{
        display:none !important;
    }
    #navbar {
        background:transparent;
    }

}