



.add{
    padding: 15px;
    color: whitesmoke;
    background-color: rgba(40, 41, 41, 0.671);
    box-shadow:  0px 0px 15px 5px black;
}

input, #emplStatus, #status{
    width: 200px;
    margin: 5px 0;
    color: black;
    padding: 4px;
    border: none;
    border-radius: 4px;
}


option{
    color: black;
}
#user-exists, #email-exists{
    padding: 4px;
    margin: 4px 0;
}

.submit{
    width: fit-content;
    padding: 6px 12px;
    margin: 20px;
}
@media (max-width: 767px){
    input, #emplStatus, #status{
        width: 100%;
    }
}