* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}


#row {
    margin: 0;
    padding: 0;
    width: 100%;
}

#search {
    height: max-content;
    display: flex;
    justify-content: center;
}

#searchUser{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.infos{
    align-content: center;
}
.searchInfo{
    background-color: rgb(179, 176, 176);
    padding: 4px 8px;
    margin-top: 10px;
    font-size: 18px;
    width: 80%;
    margin-left: auto;
}

#table span, #table img, #unPayedBills span{
    display: flex;
    text-align: center;
    justify-content: center;
}
#table img{
    margin: 4px 0;
    margin-left: auto;
    margin-right: auto;
}
.btns button{
    margin: 0 4px;
}

#unPayedBills,#allBills{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
#notPayedTable{
    max-width: 100;
}
#productsRow{
    max-width: 100%;
}

@media (max-width:800px) {
    #row {
        margin: 0;
        padding: 0;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .searchInfo{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #search, #results {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        text-align: center;

    }

    #qtyBuyedProducts,
    #tableProducts {
        box-sizing: border-box;
        text-align: center;
    }

    #result {
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    #data,.data {
        margin: 0;
        padding: 0;
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
    }

    #table {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: auto;
    }

    #table-data {
        overflow-x: auto;
    }

    #searched,
    #unPayedH1 {
        text-align: center;
    }
}
@page{
    size: auto;
}
@media print {
    *{
        margin: 0;
        padding: 0;
    }

    #search,
    #allBills,
    #navbar,
    #h1Results,
    #edit,
    #editLink, #successAlert, #errorAlert, .topSection, .infos, #searchBtns, .btn, #qtyBuyedProducts {
        all: unset;
        display: none;
        border: none;
    }

    #allBills {
        all: unset;
        /*transform: translate(00px, -65px);*/
        position: relative;
        top: 0 !important;
        margin: 0;
        padding: 0;
    }

    #data {
        all: unset;
        position: relative;
        top: 20px;
        background-color: transparent;
        color: black;
        overflow: hidden;
    }


    #unPayedBills {
        all: unset;
        /*transform: translate(00px, -100px);*/
        position: relative;
        top: 0 !important;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: black;
    }
    #unPayedH1{
        margin-top: 50px;
    }

    #searched,
    #unPayedH1 {
        font-size: medium;
        text-align: center;
    }
}