*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

#employeeNav{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(27, 26, 26);
    z-index: 999;
}

#employeeNav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    width: 100%;
    height: 100%;
    margin: 4px 0;
    padding: 0;
}

#employeeNav li{
    list-style:none;
    margin: 2px 4px;
    padding: 2px 4px;
}

#employeeNav li:last-child{
    margin-left: auto;
}

#employeeNav a{
    text-decoration: none;
    color: inherit;
}

main{
    position: absolute;
    top: 40px;
    background-color: rgba(19, 18, 18, 0.904);
    width: 100%;
    min-height: calc(100dvh - 40px);
}

.alert{
    margin-top: 14px;
}

#studentSection{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#studentForm{
    max-width: 100%;
    padding: 24px;
}

#studentForm .mb-3{
    position: relative;
}
#msgInfo{
    width: 100%;
    margin: 8px 0;
    padding: 6px 12px;
}
#msg{
    padding: 6px 12px;
}
#msgInfoSpan, #msgSpan{
    position: absolute;
    padding: 6px 12px;
    color: black;
    transition: all 0.5s ease-in-out;
}

#msgInfoSpan{
    top: 10px;
}

#msgSpan{
    top: 60px;
}


#studentForm textarea:focus + #msgSpan,
#studentForm textarea:not(:placeholder-shown) + #msgSpan,
#msgInfo:focus + #msgInfoSpan,
#msgInfo:not(:placeholder-shown) + #msgInfoSpan{
    top: 36px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    transform:scale(0.5);
}

#msgInfo:focus + #msgInfoSpan, #msgInfo:not(:placeholder-shown) + #msgInfoSpan{
    top: -12px;
}


#racuni{
    position: relative;
    margin: 20px 0;
    width: 100%;
}
h2,h3{
    padding: 14px 8px;
    text-align: center;
    color: white;
}

.table{
    color: white;
    text-align: center;
    max-width: 100%;
}

#holidays{
    width: 100%;
    overflow: hidden;
}

.tableData{
    overflow-x: auto;
}

#vacation, #profile, #updateForm, #searchVacation{
    margin: 20px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#searchVacation{
    padding: 10px 0;
}
#showVacations{
    margin: 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 900px;
    min-width: 300px;
    border: 1px solid black;
    padding: 16px 26px;
    background-color: rgba(49, 47, 47, 0.904);
    box-shadow: 0 0 5px 5px rgb(49,47,47);
}

.mb-3{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label{
    color: white;
    text-align: center;
    padding: 4px 8px;
}

input,select{
    width: 200px;
}

button{
    display: inline-flex;
    width: fit-content;
}


#employeeNav form, #employeeNav button, .table form{
    all: unset;
}

#employeeNav form:hover{
    cursor: pointer;
}

#alertSection{
    margin: 0;
    margin-top: 50px;
    padding: 4px 12px;
}

.alert{
    max-width: 400px;
    max-height: 50px;
    padding: 4px 8px;
    margin: 4px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.alert span{
    display: flex;
    padding: 2px;
    width: 26px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    transition: all 0.4s ease-in-out;
}

.alert-success span:hover{
    background-color: #25c57bc2;
}
.alert-danger span:hover{
    background-color: #cf2533a9;
}